<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>1
            <mat-icon>share</mat-icon>
            <app-left-side>

            </app-left-side>
        </mat-grid-tile>
        <mat-grid-tile>2
            <app-right-side></app-right-side>

            <google-map [options]="mapOptions">
                <map-marker [position]="marker.position"></map-marker>
            </google-map>
        </mat-grid-tile>
    </mat-grid-list>

</body>

</html>


<router-outlet></router-outlet>